* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.main-header {
    position: sticky;
    top: 0;
    z-index: 1000; 
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}
.logo {
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 8px;
}
.nav-links a {
    text-decoration: none;
    color: #555;
    margin: 0 15px;
    font-size: 1.05rem;
    transition: color 0.3s;
}
.nav-links a:hover {
    color: black;
}
.btn-book, .btn-first {
    background-color: #dba0a0;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1rem;
    font-family: sans-serif;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 15px rgba(255, 136, 136, 0.2);
}
.btn-book:hover, .btn-first:hover, .btn-join:hover{
    background-color: #d69e9e; 
    transform: translateY(-2px) scale(1.05);
    box-shadow: 0 6px 20px rgba(255, 186, 186, 0.4);
}
.first {
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), 
                url(https://framerusercontent.com/images/GIVUIj2K1IurEfhWPPFVh7gPDrk.jpg?scale-down-to=4096&width=3744&height=4235) no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    margin: 20px; 
    border-radius: 20px;
}
.first-content {
    max-width: 700px; 
}
@font-face {
    font-family: 'MyCustomSerif'; 
    src: url('https://fonts.gstatic.com/s/ptserif/v19/EJRVQgYoZZY2vCFuvAFWzr8.woff2');

}
.first-content h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    font-family: 'MyCustomSerif'; 
    font-weight: 400;
}
.first-content p {
    font-size: 1.1rem;
    margin-bottom: 30px;
    line-height: 1.6;
}
.intro-section {
    padding: 80px;
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.badge {
    display: inline-block;
    padding: 6px 16px;
    border: 1px solid #eee;
    border-radius: 50px;
    font-size: 0.8rem;
    color: #888;
    margin-bottom: 30px;
    letter-spacing: 0.05rem;
}
.intro-section h2 {
    font-family: 'MyCustomSerif';
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 20px;
    letter-spacing: -0.08rem;
}
.intro-section p {
    color: #666;
    font-size: 1.1rem;
    max-width: 600px;
    margin-bottom: 40px;
}
.image-stack {
    position: relative;
    width: 100%;
    max-width: 900px;
    height: 450px; 
    margin-top: 40px;
}
.stack-img {
    position: absolute;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    transition: transform 0.4s ease;
}
.img-left {
    width: 280px;
    height: 350px;
    left: 13%;
    top: 45px;
    transform: rotate(-5deg); 
}
    .img-center {
    width: 320px;
    height: 400px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3; 
}
.img-right {
    width: 280px;
    height: 350px;
    right: 13%;
    top: 45px;
    z-index: 1;
    transform: rotate(5deg); 
}
.features-section{
    padding: 10px 15%;
    text-align:center;
    margin-bottom: 50px;
}
.features-container {
    display: flex;
    justify-content: space-between;
}
.feature {
    flex: 1;
}
.feature {
    flex: 1;
    max-width: 250px;
}

.feature-icon {
    margin-top: 20px;
}

.feature h3 {
    font-family: sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 12px;
    margin-top: 10px;
    color: black;
}

.feature p {
    font-size: 0.95rem;
    color: #666;
    line-height: 1.5;
    font-weight: 400;
}
.btn-join{
    background-color: #dba0a0;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1rem;
    font-family: sans-serif;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 15px rgba(255, 136, 136, 0.2);
    margin-left:45%;
    margin-bottom:150px;
}
.badge2 {
    display: inline-block;
    padding: 6px 16px;
    border: 1px solid #eee;
    border-radius: 50px;
    font-size: 0.8rem;
    color: #888;
    margin-bottom: 30px;
    letter-spacing: 0.05rem;
    margin-left:100px;
}
.text-content h2 {
    font-family: 'MyCustomSerif';
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 20px;
    letter-spacing: -0.08rem;
    margin-left:100px;
}
.text-content p {
    color: #666;
    font-size: 1.1rem;
    max-width: 600px;
    margin-bottom: 40px;
    margin-left:100px;
}
.classes-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 20px 5% 30px 5%;
    background-color:white;
    
}
.class-card {
    background: whitesmoke;
    border-radius: 24px;
    overflow: hidden;
    transition: transform 0.3s ease;
}
.class-card:hover {
    transform: translateY(-5px);
}
.card-image{
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 20px;
}
.card-image img {
    width: 93%;
    height: 90%;
    object-fit: cover; 
    border-radius: 20px;
    margin-top:20px;
    margin-left: 20px;
    
}
.card-content {
    padding: 30px 0; 
}
.card-content h3 {
    font-family: 'Segoe UI', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 12px;
    margin-left:20px;
}
.card-content p {
    color: #666;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 20px;
    max-width: 90%;
    margin-left: 20px;
}
.ghost-btn {
    display: inline-block;
    padding: 10px 20px;
    color: #e6b3b3; 
    text-decoration: none;
    font-weight: 600;
    font-size: 0.95rem;
    border-radius: 50px;
    background-color: transparent; 
    transition: all 0.3s ease-in-out;
    border: none;
    cursor: pointer;
    margin-left: 40%;
}
.ghost-btn:hover {
    background-color: #f4d5d5; 
    color: #e6b3b3; 
}
.gallery-section {
    padding: 80px;
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.badge3 {
    display: inline-block;
    padding: 6px 16px;
    border: 1px solid #eee;
    border-radius: 50px;
    font-size: 0.8rem;
    color: #888;
    margin-bottom: 30px;
    letter-spacing: 0.05rem;
}
.gallery-section h2 {
    font-family: 'MyCustomSerif';
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 20px;
    letter-spacing: -0.08rem;
}
.gallery-section p {
    color: #666;
    font-size: 1.1rem;
    max-width: 600px;
    margin-bottom: 40px;
}
.carousel{
    margin: 100px auto;
    width: 90%;
    overflow: hidden;
    
}
.carousel::-webkit-scrollbar{
    display: none;
}
.track{
    display: flex;
    width: 200%;
    gap: 0;
    align-items: center;
    animation: scroll 18s linear infinite;
}
.group {
    display: flex;
    align-items: center;
    gap: 0%;
    width: 50%;
}
.slide img{
    height: 14rem;
    width: auto;
    padding: 1rem;
    border-radius: 0.5rem;
    object-fit: cover;
}
@keyframes scroll{
    0%{ transform: translateX(0); }
    100%{ transform: translateX(-60%); }
}
.carousel:hover .track{
    animation-play-state: paused;
}
.benefits-section {
    padding: 80px;
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.badge4 {
    display: inline-block;
    padding: 6px 16px;
    border: 1px solid #eee;
    border-radius: 50px;
    font-size: 0.8rem;
    color: #888;
    margin-bottom: 30px;
    letter-spacing: 0.05rem;
}
.benefits-section h2 {
    font-family: 'MyCustomSerif';
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 20px;
    letter-spacing: -0.08rem;
}
.benefits-section p {
    color: #666;
    font-size: 1.1rem;
    max-width: 600px;
    margin-bottom: 1px;
}
.benefits-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 24px;
    padding: 40px 10%;
    background-color: #ffffff;
    
}
.benefit-card {
    background-color: #f9f9f9; 
    padding: 40px 30px;
    border-radius: 24px;       
    text-align: left;          
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.icon-circle {
    width: 60px;
    height: 60px;
    background-color: #fefefe;    
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    box-shadow: 0 2px 10px rgba(0,0,0,0.03); 
    margin-bottom: 10px;
}
.benefit-card h3 {
    font-family: 'Segoe UI', sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    color: #1a1a1a;
    margin: 0;
}
.benefit-card p {
    color: #666;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
}
.icon{
    color: #dba0a0;
}
